
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&family=Poppins:wght@100;200&display=swap');

*{
  margin: 0px;
  padding: 0px;
  color: #229fbd;
}

:root{
  --bg-color: hsl(199, 64%, 83%);
  --accent-color: #ffb704;
  --alt-accent: hsl(43, 100%, 41%);
  --font-color: #013147;
  --button2-color: #fd8401;
  --button2-accent: hsl(31, 99%, 40%);
}

.App {
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.App-header {
  background-color: hsl(199, 64%, 83%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.outline{
  width: 75%;
}

.App-link {
  color: #61dafb;
}


button{
  display: block;
  border-radius: 10px;
  background-color: #013790;
  color: var(--font-color);
  font-size: 50px;
  font-family: 'Oxygen', sans-serif;
  transition: all ease-in-out 0.4s;
  border: 2px solid var(--font-color);
}


h1{
  color: #006596;
  display: block;
  width: 100%;
  margin-bottom: 2vh;
}

.title{
  width: 43%;
  margin: auto;
  text-align: left;
  padding-left: 30px;
}

.title h2{
  font-family: 'Oxygen', sans-serif;
  color: #22a0bfdb
}

.top{
  width: 100%;
  height: 40vh;
  text-align: left;
  display: flex;
  flex-direction: row;
  text-align: center;
}

.buttons{
  height: 55vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.but{
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-right: 30px;
  width: 35%;
}

.button1{
  height: 100%;
  padding: 10px;
  width: 100%;
  background-color: var(--accent-color);
}

.button1:hover{
  background-color: var(--alt-accent)
}

.button2:hover{
  background-color: var(--alt-accent)
}

h2{
  font-family: monospace;
  color: #229fbd;
  font-size: 20px;
  margin-bottom: 15px;
  font-family: 'Poppins', sans-serif;
}

.button2{
  background-color: var(--button2-color);
  padding: 15px;
  margin-bottom: 2vh;
}

.button2:hover{
  background-color:var(--button2-accent);
}

img{
  width: 55%;
}

footer{
  width: 100%;
  height: 30vh;
  background-color: #22a0bfdb;
}

footer img{
  width: 40%;
}


@media(max-width: 1270px){
  h1{
    font-size: 30px;
  }

  h2{
    font-size: 15px;
  }

  button{
    font-size: 30px;
  }

  .top{
    height: 20vh;
  }

  .buttons{
    height: 35vh;
  }

  .App-header{
    min-height: 80vh;
  }

  footer{
    height: 20vh;
  }
}

@media only screen and (max-width: 750px) {
  

  .buttons{
    height: 45vh;
    display: flex;
    flex-direction: column;
  }

  .but{
    width: 95%;
  }

  .button1, .button2{
    margin-bottom: 30px;
    height: 15vh;
  }

  h1{
    font-size: 20px;
  }

  footer img{
    margin: 15px;
    width: 70%;
  }

  h2{
    font-size: 10px;
  }

  h1{
    font-size: 25px;
  }

  .top img{
    height: 80%;
  }

  .button1, .button2{
    font-size: 15px;
  }

  .buttons{
    margin-top: 20px
  }


}

@media only screen and (max-width: 450px) {
  h1{
    font-size: 20px;
  }

  .title h2{
    font-size: 10px;
  }

  .top img{
    height: 50%;
  }

  .title{
    margin: 0px;
  }

  .top{
    height: 15vh;
  }

  .buttons{
    margin-top: 30px;
    
  }

  .button1, .button2{
    margin-bottom: 30px;
    height: 10vh;
    font-size: 15px;
  }
}

@media only screen and (max-width: 300px){
  .buttons{
    margin-top: 70px
  }
}