@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&family=Poppins:wght@100;200&display=swap');

*{
  margin: 0px;
  padding: 0px;
}

:root {
  --bg-color: hsl(220, 12%, 18%);
  --sub-bg-color: hsl(220, 12%, 10%);
  --accent-color-light: hsl(47, 32%, 55%);
  --sub-accent-color-light: hsl(47, 32%, 30%);
  --accent-color-dark: hsl(212, 32%, 17%);
  --text-color: hsl(55, 12%, 80%);
  --text-color-2: hsl(255, 12%, 20%);
}

/* scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--sub-bg-color); 
}
::-webkit-scrollbar-thumb {
  background: var(--bg-color); 
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.App {
  font-family: 'Poppins', sans-serif;
  background-color: var(--sub-bg-color); 
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vh);
  color: var(--text-color);
}

a:link, a:visited {
  text-decoration: none;
  color: var(--text-color);
}

a:hover div{
  background-color: var(--sub-bg-color);
}

/* SIDEBAR */

.sidebar {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  background-color: var(--sub-bg-color);
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  padding: 1vmin;
  margin-inline-start: 4vw;
}

.sidebar--header  h1 {
  font-weight: bold;
  font-size: 4vmin;
  text-align: center;
}

.sidebar--header h2 {
  font-weight: lighter;
  font-size: 1vmax;
  font-style: italic;
  text-align: center;
}

.sidebar--group {
  flex-direction: column;
}

.sidebar--card {
  flex-direction: column;
  background-color: var(--bg-color);
  padding: 2vmin;
  margin-bottom: 2vh;
  border-radius: 16px;
  width: 10vw;
  font-size: 1vmax;
}

.sidebar--card h1 {
  text-align: start;
  font-size: 1vmax;
}

.sidebar--card p {
  text-align: start;
  font-size: 1vmax;
}
.sidebar a:hover {
  color: var(--accent-color-light);
}

/* MAIN CONTENT */

.main-content {
  /*flex-grow, flex-shrink=1, flex-basis=auto*/
  flex: 7 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 16px;
  background-color: var(--bg-color);
  height: 90vh;
  margin: 2vmin;
  padding: 4vmin;
  margin-inline-end: 4vw;
}

.main-content p {
  font-size: 2vmin;
}

.main-content h2 {
  font-size: 4vmin;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1vh;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-inline: 1vw;
}

.main-content--card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1vmin;
  margin: 2vmin;
  border-radius: 16px;  
  background-color: var(--sub-bg-color);
  background-image: linear-gradient(hsl(220, 12%, 15%), var(--sub-bg-color));
}

.main-row-1 {
  height: 20vh;
}
.main-row-2 {
  height: 50vh;
}
button{
  display: block;
  border-radius: 16px;
  border-style: hidden;
  font-family: 'Oxygen', sans-serif;
  transition: all ease-in-out 0.1s;
  width: 20vw;
  background-color: var(--accent-color-light);
  color: var(--text-color-2);
  margin: 1vmin;
}
button:hover {
  background-color: var(--sub-accent-color-light);
  color: var(--text-color);
}

button.big {
  height: 10vh;
  font-size: 4vmin;
}

button.small {
  height: 5vh;
  font-size: 2vmin;
}

.scroll {
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 2vmin;
  height: 40vh;
}


/* ID Selectors */

#bike-lock {
  width: 30vw;
}

#bike-status {
  width: 40vw;
}

#led-indicator-red {
  border-radius: 100%;
  margin: 2vmin;
  height: 15vmin;
  width: 15vmin;
  background-color: red;
}
#led-indicator-green {
  border-radius: 100%;
  margin: 2vmin;
  height: 15vmin;
  width: 15vmin;
  background-color: green;
}
#led-indicator-default {
  border-radius: 100%;
  margin: 2vmin;
  height: 15vmin;
  width: 15vmin;
  background-color: gray;
}

#activity-log {
  width: 50vw;
}

#theft-counter {
  width: 20vw;
}

